body {
  margin: 0;
  height: auto;
}

.primary-font {
  font-size: 13px;
  font-family: 'lato', sans-serif;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
  letter-spacing: 0.05em;
  color: #515151;
}

.secondary-font {
  font-size: 30px;
  font-family: 'lato', sans-serif;
  font-weight: 900;
  line-height: 30px;
  font-style: normal;
}

.header {
  background: #f7f7f9;
  width: 100%;
  height: 650px;
  background-image: url(./assets/images/bgconfrence.jpg);
  background-repeat: no-repeat;
  background-position-y: -0.5rem 100%;
  background-position-x: -4rem;
  z-index: 1001;
}

.navbar {
  display: flex;
  width: 100%;
  height: 4rem;
  align-items: center;
  gap: 2rem;
}

.hamburger {
  display: block;
  position: relative;
  width: fit-content;
  height: 30px;
  border-radius: 2px;
  margin-right: 6rem;
  z-index: 1001;
  cursor: pointer;
}

.bar .menu ::after {
  content: "";
  display: block;
  position: absolute;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #272a32;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  background: #000;
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  background: #000;
}

.logo {
  display: flex;
  align-items: flex-start;
  justify-items: center;
  text-align: center;
  width: auto;
  height: 4rem;
  text-decoration: none;
}

.menu {
  display: none;
  position: absolute;
  margin-top: 18rem;
  justify-self: center;
  width: 100%;
  height: auto;
  gap: 8px;
  background: #ec5242;
  align-items: center;
  z-index: 1;
}

.menu.active {
  left: 0;
  display: flex;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 100%;
  gap: 8px;
  content: normal;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
}

.nav-link {
  display: flex;
  justify-content: center;
  width: 100%;
  text-decoration: none;
}

.nav-link:hover {
  background: #a37878;
  color: #fff;
}

ul li {
  list-style-type: none;
}

.header-body {
  /*display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1.5rem;
  height: auto;*/

  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: space-around;
  margin-top: 3.5rem;

  /*display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  width: 80%;
  height: auto;
  background: green;
  border: 1px gold solid;*/
}

.headline-header {
  display: flex;
  align-items: flex-start;
  padding: 0.1rem;
  width: 90%;
  height: 1.5rem;
  color: #ec5242;
}

.headline-body {
  display: flex;
  width: 92%;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  background-image: url(./assets/images/bg3.jpg);
  text-transform: uppercase;
  background-repeat: repeat;
  background-size: contain;
  color: transparent;
  -webkit-text-fill-color: transparent;
  background-clip: border-box;
  -webkit-background-clip: text;
  font-size: 2em;
  font-weight: 800;
  line-height: 30px;
  font-family: 'Gothic A2', sans-serif;
}

.headline-body-intro {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  align-content: center;
  justify-content: space-around
}

.body-intro {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.7rem;
  width: 90%;
  height: auto;
  margin-top: 1.5rem;
  color: #515151;
  border: 5px solid #fff;
}

.time {
  display: flex;
  width: 80%;
  font-size: 20px;
  color: #595959;
  margin-top: 2.5rem;
  margin-left: 2rem;
}

.venue {
  display: flex;
  width: 90%;
  height: auto;
  color: #868686;
  font-size: 13px;
  margin-left: 2rem;
}

p {
  margin: 0.5rem;
}

.main-program-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  align-items: center;
  background-image: url(./assets/images/background2.jpg);
}

.overlay {
  display: flex;
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  background-color: rgba(1, 1, 14, 0.829);
}

.program-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  border: 2px solid rgb(194, 209, 194);
}

.program-head {
  display: flex;
  width: 100%;
  padding: 0.5rem 0;
  margin-top: 2rem;
  margin-bottom: 3rem;
  height: 30px;
  font-size: 20px;
  color: #fff;
  align-items: center;
  justify-content: center;
}

.program-section {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 0.5fr 1fr 0.5fr;
  width: 95%;
  height: auto;
 /* align-items: flex-start;
  justify-content: flex-start;*/
}


div.card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
  padding: 1.9rem 0;
  width: 100%;
  height: 1.9em;
  gap: 0.5rem;
  margin: 0;
  margin-top: 0.5rem;
  background: #3b3e45ea;
  background-repeat: repeat;
  color: #fff;
}

.card-img {
  display: flex;
  align-items: flex-start;
  position: relative;
  width: auto;
  height: 3rem;
  margin-left: 0.5rem;
  padding: 0;
  order: 0;
}

.card-title {
  display: flex;
  position: relative;
  width: 16%;
  height: fit-content;
  font-size: 13px;
  margin: 0;
  order: 1;
  color: #ec5242;
}

.card-text {
  display: flex;
  position: relative;
  width: 65%;
  height: auto;
  order: 2;
  float: left;
  font-size: 13px;
  color: #fff;
}

.link {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 50px;
  color: #fff;
  background: #ec5242;
  text-decoration: none;
}

.speaker-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 15px;
  justify-content: space-around;
  background: #fff;
}

.featured {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20%;
  font-size: 20px;
  color: #000;
}

.card-speaker {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 8px;
  margin: 0;
}

.left-speaker-details {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0;
  height: auto;
  gap: 4px;
  flex: 50%;
}

.details {
  display: flex;
  height: auto;
  gap: 5px;
  flex-direction: column;
}

.speaker-name {
  display: flex;
  width: 100%;
  height: auto;
  color: #000;
  margin: 1px;
  flex: 50%;
}

.speaker-img {
  display: flex;
  width: 25%;
  height: 50%;
  margin-left: 5px;
}

.about-speaker-dtls {
  height: auto;
  width: 85%;
  font-size: 10px;
  margin: 0;
  line-height: 12px;
  color: #f78c89;
}

.about-speaker {
  display: flex;
  width: 99%;
  height: auto;
  font-size: 10px;
  line-height: 12px;
  margin: 0;
  color: #000;
}
